nav, .container{
  display: flex;

}

h1,h2,h3,p, a{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a{
  color: white;
  text-decoration: none;

}
nav{
  background-color: darkturquoise;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right:10rem
}

#createuser{
  border: 1px solid black;
  border-radius: 5px;
  margin: 0 auto;
  width: 50%;
  padding: 0 1rem 1rem 1rem;
}

#createuser>.container>input, #createuser>.container>select{
flex:1;
height:1.5rem;
align-self: center;


}
